/*Avante*/
@font-face {
    font-family: 'Avante';
    src: url('../fonts/AAvanteBS/a_AvanteBsExtraBold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* MyriadPro FONTS */
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?') format('eot'),
    url('../fonts/MyriadPro/MyriadProBold/MyriadProBold.otf')  format('opentype'),
    url('../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf')  format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?') format('eot'),
    url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.otf')  format('opentype'),
    url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf')  format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* OPENSANS FONTS */
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans/OpenSans-Italic.ttf')  format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf')  format('truetype');
}
/*RALEWAY FONTS*/
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway/Raleway-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway/Raleway-Medium.ttf')  format('truetype');
}

